<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection - About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <header>
        <nav>
            <h1><a href="http://localhost:8080/" class="btn">Lego Collection</a></h1>
            <div class="nav-buttons">
                <a href="http://localhost:8080/about" class="btn">About</a> 
                <div class="dropdown">
                    <button class="dropbtn">Theme</button>
                    <div class="dropdown-content">
                        <select id="themeSelector" onchange="fetchSetsByTheme()">
                            <option value="Technic">Technic</option>
                            <option value="Town">Town</option>
                            <option value="Supplemental">Supplemental</option>
                            
                        </select>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="main-content">
        <section class="hero">
            <h1>About</h1>
            <p>Everything you want to know about me</p>
        </section>

        <section>
            <p>
                My name is John Smith and I'm currently studying at Seneca Polytechnic.
                Donec sollicitudin molestie tortor, vel feugiat nulla maximus quis. Suspendisse ut sapien id mauris sollicitudin commodo. Quisque semper, ligula et tincidunt dapibus, nisi ante fermentum lectus, nec molestie sem eros vel neque. Duis sit amet ligula eu ligula consectetur blandit sed at mi. Sed ac odio aliquet, vestibulum justo eget, volutpat eros. Mauris a dictum erat. Vivamus sodales egestas tempus. Duis pulvinar nibh enim, vel gravida nunc egestas id. Duis magna ante, posuere id luctus id, mattis at ipsum. Nullam sit amet magna et dui varius tristique ac id nisl. Pellentesque est dolor, luctus vitae dictum ut, hendrerit lacinia lorem. Nullam a pharetra tortor.
            </p>
        </section>
    </div>


    <footer>
        <p>&copy; 2023 Lego Collection. All Rights Reserved.</p>
    </footer>

    <script>
        function fetchSetsByTheme() {
        const theme = document.getElementById('themeSelector').value;
        window.location.href = `/lego/sets?theme=${theme}`;
        }

    </script>
</body>

</html>
