<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Lego Collection</title>
</head>
<body>
    <header>
        <nav>
            <h1>Lego Collection</h1>
            <div class="nav-buttons">
                <a href="http://localhost:8080/about" class="btn">About</a> 
                <div class="dropdown">
                    <button class="dropbtn">Theme</button>
                    <div class="dropdown-content">
                        <a href="#">Technic</a>
                        <a href="#">Classic Town</a>
                        <a href="#">Supplemental</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="main-content">
        <!-- Hero Section -->
        <div class="hero">
            <h1>Welcome to Lego Collection</h1>
            <p>Unleash your inner builder and embark on a fascinating journey through the colorful realm of Lego.</p>
        </div>
        
    </div>

    
</body>
</html>
