/* Reset and Base Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */

header nav {
    background-color: #ffffff;
    padding: 15px 5%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

nav h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.nav-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn {
    padding: 10px 15px;
    color: #333;
    background-color: #FFF;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #007BFF;
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #FFF;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Main Content */

.main-content {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.hero {
    text-align: center;
    margin-bottom: 30px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.4rem;
}

/* Lego Card Styles */

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    font-size: 1.4rem;
    margin: 10px 0;
}

.card p {
    font-size: 1rem;
    color: #777;
}

/* Footer */

footer {
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.get-started-btn {
    display: inline-block;
    background-color: #007BFF;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.get-started-btn:hover {
    background-color: #0056b3;
}
